<h1>Home Page</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h2>Blogs</h2>
<p> <%= @stories.inspect %> </p>
<h2>Skills</h2>
<p> <%= @skills.inspect %> </p>
<h2>Portfolios</h2>
<p> <%= @portfolio.inspect %> </p>